@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.nav-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.nav-bar h1 {
  color: #35d5f1;
}
.navbar .links {
  margin-left: auto;
}
.nav-bar a {
  margin-left: 150px;
  text-decoration: none;
  padding: 6px;
}
.nav-bar a:hover {
  color: #3564f1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}